@model List<Teacher>

<div class="container">
	<div class="my-4 d-flex justify-content-between">
		<h3 class="mb-0">TEACHERS LIST</h3>
		<a asp-controller="Teacher" asp-action="Create" class="btn btn-success">ADD NEW TEACHER</a>
	</div>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Profile Picture</th>
				<th>Name</th>
				<th>Department</th>
				<th>Designation</th>
				<th>Joining Date</th>
				<th>Phone</th>
				<th>Address</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var teacher in Model)
			{
				<tr>
					@if (teacher.Image != null)
					{
						<td><img src="data:image/jpeg;base64,@Convert.ToBase64String(teacher.Image)" width="50" height="50" alt="Profile Picture" /></td>
					}
					else
					{
						<td>No Image</td>
					}
					<td>@teacher.Name</td>
					<td>@teacher.Department</td>
					<td>@teacher.Designation</td>
					<td>@teacher.JoiningDate</td>
					<td>@teacher.Phone</td>
					<td>@teacher.Address</td>
					<td>
						<a asp-controller="Teacher" asp-action="Edit" class="btn btn-primary me-2" asp-route-id="@teacher.Id">
							<i class="bi bi-pencil-square"></i>
						</a>
						<a asp-controller="Teacher" asp-action="Delete" class="btn btn-danger" asp-route-id="@teacher.Id">
							<i class="bi bi-trash"></i>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>